.badge {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::before {
    position: absolute;
    content: attr(data-content);
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: rgb(253, 192, 48);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    width: 150%;
    height: 40px;
    transform: rotate(45deg) translateY(-20px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  &::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    z-index: 99;
    background: rgb(220, 150, 1);
    box-shadow: -140px -140px rgb(220, 150, 1);
  }
}