.Button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 5px;
  background: #57d321;
  width: 150px;
  color: #000;

  &:hover {
    cursor: pointer;
    background: #6dff2f;
  }
}
